
<section class="exploar-section">
  <div class="container py-5">
  <h1 class="text-center mb-4">There's More to Explore</h1>

  <owl-carousel-o [options]="carouselOptions">
    <ng-container *ngFor="let pro of topCategory | slice:0:5">
      <ng-template carouselSlide>
        <div class="card text-bg-dark custom-card h-100 border-0 shadow">
          <img [src]="pro.img" class="card-img h-100 object-fit-cover" alt="Card image">
          <div class="card-img-overlay d-flex align-items-end justify-content-center overlay-bg">
            <a class="btn custom-btn text-uppercase" routerLink="/categories/New Arrivals">
              {{ pro.name }} <i class="bi bi-arrow-right-circle ms-1"></i>
            </a>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
</section>
