<div class="product-card mt-5">
    <img src="{{product?.img}}" alt="Product Image" />
    <div class="info"> 
        <h2>{{product?.name}}</h2>
        <p class="desc">
            Discover our collection of high-quality, affordable, and stylish products designed to meet your everyday
            needs. Whether you're looking for something durable, eco-friendly, or customizable, we offer a wide range of
            innovative and functional items that blend modern design with reliable performance. Our best-selling,
            gift-worthy products are carefully selected for their authenticity, comfort, and value. Explore limited
            edition pieces, enjoy budget-friendly options, and experience the charm of handcrafted, luxurious essentials
            that elevate your lifestyle. Perfect for those who appreciate minimalist elegance and feature-rich
            functionality—all in one place.
        </p>
        <div class="meta">
            <span class="price">$149.99</span>
        </div>
        <button>Add to Cart</button>
    </div>
</div> 