<div class="signup-wrapper d-flex align-items-center justify-content-center">
  <div class="signup-card row g-0 shadow-lg rounded-4 overflow-hidden">

    <!-- Left Image Side -->
    <div class="col-lg-6 d-none d-lg-block image-side"></div>

    <!-- Right Form Side -->
    <div class="col-12 col-lg-6 p-4 p-md-5 bg-white">
      <form [formGroup]="newUser" (ngSubmit)="signup()">

        <h3 class="fw-bold mb-4 text-center">Create Account</h3>

        <div class="row g-3">

          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-person"></i></span>
              <input type="text" class="form-control" formControlName="fname" placeholder="First name">
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-person"></i></span>
              <input type="text" class="form-control" formControlName="lname" placeholder="Last name">
            </div>
          </div>
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-envelope"></i></span>
              <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </div>
          </div>

          <div class="mb-4 position-relative">
            <input [type]="passwordType ? 'text' : 'password'" class="form-control custom-input pe-5"
              placeholder="Password" formControlName="password">
            <i (click)="changeType()" class="bi position-absolute top-50 end-0 translate-middle-y me-3"
              [ngClass]="passwordType ? 'bi-eye-fill' : 'bi-eye-slash-fill'">
            </i>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-dark w-100 py-2 fw-bold" [disabled]="!newUser.valid">
              Sign Up
            </button>
          </div>
        </div>
      </form>
      <p class="text-center mt-3 small">
        Already have an account?
        <a routerLink="/user/login" class="fw-bold text-decoration-none">
          Login
        </a>
      </p>

    </div>

  </div>
</div>